.frase-principal-conocenos{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /* Relleno interno del contenedor */
    background-image: linear-gradient(to right, rgba(0, 169, 153, 0.9), rgba(0, 111, 184, 0.9));
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 20px; 
    margin-top: 100px;
}

.fade-in-text {
    opacity: 0; /* Inicia con una opacidad de 0 para ocultar el texto */
    animation: fadeIn 4s ease forwards; /* Aplica la animación */
}

.frase-principal-conocenos h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 75px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.frase-principal-conocenos .subtitle{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
}

.frase-principal-conocenos .quien-es{
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.su-fundacion-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 650;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.su-fundacion{
    padding-bottom: 50px;
    margin-top: 100px;
}

.su-fundacion-derecha{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
}

.mision-vision {
    margin-top: 140px !important;
    margin-bottom: 140px !important;
}

.mision {
    border: 0 !important;
    background-color: #00a999 !important;
}

.vision {
    border: 0 !important;
    background-color: #00a999 !important;
}

.mision-vision-title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 650;
    font-size: 40px;
    color: white
}

.mision-vision-subtitle {
    margin-top: 50px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 650;
    font-size: 20px;
    color: white
}

.mision-vision-parrafo {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    color: white;
    padding-bottom: 20px;
}

.call-to-action-2 {
    margin-top: 180px;
    padding-left: 50px;
    padding-right: 50px !important;
    background-image: linear-gradient(to right, rgba(0, 169, 153, 0.3), rgba(0, 111, 184, 0.3));
}

.call-to-action-2 .text {
    padding-top: 120px;
    padding-bottom: auto;
}

.call-to-action-2 .title { 
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 20px;
}

.call-to-action-2 .subtitle { 
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 50px;
}

.call-to-action-2 .button{
    margin-top: 20px;
    font-family: 'Ubuntu',sans-serif;
    padding: 10px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #006fb8;
    font-size: 20px;
    color: white;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Esto hace que el botón sea un bloque y ocupe todo el ancho disponible */
    width: fit-content; /* Ajusta el ancho al contenido del botón */
}

.call-to-action-2 .button:hover{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.call-to-action-2 .button:hover{
    background-color: #00a999;
    color: white;
}

@media (min-width: 0px) and (max-width: 990px) {
    .frase-principal-conocenos .quien-es{
        text-align: center;
        padding-top: 30px;
    }
}

@media (max-width: 575px) {
    .quienes-somos{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .quienes-somos-title {
        font-size: 30px;
    }
    
    .quienes-somos-parrafo {
        font-size: medium;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .su-fundacion-derecha{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .v-izquierda{
        margin-left: 10px;
    }
    
    .valores h1 {
        text-align: left;
        font-size: 25px;
    }
    
    .valores p{
        font-size: medium;
    }

    .mision-vision {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}