.quienes-somos{
    padding-top: 100px;
    padding-bottom: 100px;
}

.quienes-somos-title {
    text-align: center !important;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 50px;
}

.quienes-somos-parrafo {
    text-align: center;
    font-family: 'Montserrat',serif;
    font-size: large;
    color: #616161;
}

.su-fundacion-title {
    text-align: center;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.su-fundacion{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #F6F5F5;
}

.su-fundacion-derecha{
    margin-right: 50px;
    font-family: 'Montserrat',serif;
    margin-left: 50px;
    margin-right: 50px;
}

.su-fundacion-rfc{
    margin-top: 60px;
}

.mision {
    border: 0 !important;
    margin-top: 100px;
    background: -webkit-linear-gradient(left, #00a999, #006fb8) !important;
}

.vision {
    border: 0 !important;
    margin-top: 100px;
    margin-bottom: 100px !important;
    background: -webkit-linear-gradient(left, #00a999, #006fb8);
}

.mision-vision-title {
    text-align: center;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 40px;
    color: white
}

.mision-vision-subtitle {
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 20px;
    color: white
}

.mision-vision-parrafo {
    text-align: center;
    font-family: 'Montserrat',serif;
    font-size: large;
    color: white;
    padding-bottom: 20px;
}

.valores{
    padding-bottom: 100px;
}

.v-izquierda{
    padding-top: 50px;
    padding-bottom: 100px;
}

.v-link{
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 10px;
    color: #D90607 !important;
}

.valores h1 {
    text-align: left;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 40px;
}

.valores h2 {
    text-align: left;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 20px;
}

.valores h4 {
    text-align: left !important;
    font-family: 'Montserrat',serif;
    font-weight: 500;
    font-size: 22px;
    color: #D90607 !important;
    padding-bottom: 0px !important;
}

.valores p{
    text-align: left;
    font-family: 'Montserrat',serif;
    font-size: large;
    color: #616161;
}

.valores-img{
    width: 100%;
    height: 100%;
}

.v-1{
    color: #1C932B;
    font-size: 30px;
}

.v-2{
    color: #D90607;
    font-size: 30px;
}

.v-3{
    color: #020167;
    font-size: 30px;
}

.valores-title {
    padding-bottom: 50px;
    text-align: center !important;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 50px;
}

.brochure{
    padding-top: 50px;
    padding-bottom: 50px;
    background: -webkit-linear-gradient(left, #D90607, #FF5757);
}

.brochure h1{
    text-align: center;
    font-family: 'Montserrat',serif;
    font-weight: 650;
    font-size: 25px;
    color: white
}

.brochure a:link{
    color: white;
}

.brochure a:visited{
    color: white;
}

@media (max-width: 575px) {
    .quienes-somos{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .quienes-somos-title {
        font-size: 30px;
    }
    
    .quienes-somos-parrafo {
        font-size: medium;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .su-fundacion-derecha{
        margin-left: 0px;
        margin-right: 0px;
    }

    .v-izquierda{
        margin-left: 10px;
    }
    
    .valores h1 {
        text-align: left;
        font-size: 25px;
    }
    
    .valores p{
        font-size: medium;
    }
}