.contact-form{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F6F5F5;
}

.error {
    color: #D90607;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
}

.no-error {
    color: #1C932B !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    font-weight: 500;
}

.form-label{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.form-input {
    border: 2px solid;
    border-color: #ececf4;
}

.azul-button{
    margin-top: 20px !important;
    font-family: 'Ubuntu',sans-serif !important;
    padding: 10px !important;
    font-weight: 500 !important;
    border-radius: 20px !important;
    background-color: #006fb8 !important;
    border: 0 !important;
    margin-bottom: 100px !important;
}

.azul-button:hover{
    background-color: #00a999 !important;
}

.contact-form .title {
    margin-bottom: 100px;
    margin-top: 100px;
}

.contact-form .title h1{
    font-size: 60px !important;
}

.contact-form .subtitle{
    width: 30%; /* Ancho del elemento */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.contact-form .title h1{
    width: 60%; /* Ancho del elemento */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 85px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    
}

.contact-form .title .animated {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    line-height: 1em;
    padding: 0 3px;
}

.formulario {
    padding-top: 100px;
}

/*Utilizando queries para ajustar experiencia en moviles*/
@media (max-width: 650px) {
    .text-img-contacto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: left;
        font-family: 'Montserrat',serif;
    }

    .text-img-contacto h1{
        font-size: 30px;
        left: 20% !important;
        text-align: center;
    }

    .text-img-contacto p{
        font-size: 15px;
        margin-bottom: 0;
        text-align: center;
    }

    .slide-contacto {
        padding-top: 80px;
    }

    .azul-button {
        margin-bottom: 50px;
    }
}

@media (max-width: 449px) {
    .text-img-contacto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: left;
        font-family: 'Montserrat',serif;
    }

    .text-img-contacto h1{
        margin-top: 20px;
        font-size: 25px;
        left: 20% !important;
        text-align: center;
    }

    .text-img-contacto p{
        font-size: 0px;
    }

    .slide-contacto {
        padding-top: 80px;
    }
}

@media (max-width: 410px) {
    .text-img-contacto h1{
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .card-options {
        margin-left: 20px;
        margin-right: 20px;
    }
}