.frase-principal-servicios{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /* Relleno interno del contenedor */
    background-image: linear-gradient(to right, rgba(0, 169, 153, 0.9), rgba(0, 111, 184, 0.9));
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 20px; 
    margin-top: 100px;
}

.fade-in-text {
    opacity: 0; /* Inicia con una opacidad de 0 para ocultar el texto */
    animation: fadeIn 4s ease forwards; /* Aplica la animación */
}

.frase-principal-servicios h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 75px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.frase-principal-servicios .subtitle{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
}

.frase-principal-servicios .quien-es{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    margin-top: 30px;
}

.servicios{
    width: 90% !important;
    margin-top: 100px;
}

.services-card .card-title{ 
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #00a999;
}

.services-card {
    border: 1px solid #ffffff !important; 
}

.services-card .card-text {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.how-to-make {
    width: 90% !important;
    margin-top: 50px;
    margin-bottom: 140px;
}

.how-to-make h1 {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
}

.how-to-make li {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

ul.custom-list {
    list-style: none; /* Oculta el marcador de lista predeterminado */
}
  
ul.custom-list li:before {
    content: "\2192"; /* Código Unicode para una flecha hacia la derecha */
    margin-right: 0.5em; /* Espacio entre la flecha y el texto */
    font-weight: bold; /* Grosor de la flecha (negrita) */
    font-size: 1.2em; /* Tamaño de la flecha */
}

.paquetes {
    width: 80% !important;
    margin-bottom: 180px;
}

.paquetes h1{ 
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #006fb8;
    margin-bottom: 30px;
}

.paquetes .subtitle{ 
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
}

.paquetes .table .table-title {
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    color: #00a999;
    font-size: 20px;
}

.paquetes .table .table-title-2 {
    font-family: 'Ubuntu',sans-serif;
    font-size: 20px;
}

.paquetes .table .table-text{
    font-family: 'Ubuntu',sans-serif;
    font-size: 20px;
    text-align: center;
}

.paquetes .table .table-subtitle {
    font-family: 'Ubuntu',sans-serif;
    text-align: left;
    color: #006fb8;
    font-size: 20px;
}
  
.why {
    width: 80% !important;
}

.why h1 {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.why .subtitle {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-bottom: 60px;
}

.why .card .card-text {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.why .card .card-title {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #006fb8;
}

.why .why-card{
    border: 1px solid #00a999 !important; 
}

@media (max-width: 575px) {
}

@media (max-width: 995px) {

}